<header class='character-header'>
  <div class='flexrow gap-large'>
    <img
      class='character-img'
      src='{{document.img}}'
      data-action='editImage'
      data-tooltip='Change Character Image'
      height='100px'
    />

    <div class='flexcol gap-small'>
      <div class='flexrow gap-small'>
        <label>
          {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Name'}}
          <input
            type='text'
            name='name'
            value='{{document.name}}'
            placeholder=''
          />
        </label>

        <label class='secondary-field'>
          {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Pronouns'}}
          <input
            type='text'
            name='system.pronouns'
            value='{{document.system.pronouns}}'
          />
        </label>
      </div>

      <div class='flexrow gap-small'>
        <label class='secondary-field'>
          {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Ancestry'}}
          <input
            type='text'
            name='system.ancestry'
            value='{{document.system.ancestry}}'
          />
        </label>

        <label class='secondary-field'>
          {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Class'}}
          <input
            type='text'
            name='system.class'
            value='{{document.system.class}}'
          />
        </label>

        <label class='secondary-field'>
          {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Subclass'}}
          <input
            type='text'
            name='system.subclass'
            value='{{document.system.subclass}}'
          />
        </label>
      </div>
    </div>
    <label class='character-level'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Level'}}
      <input
        type='number'
        name='system.level'
        value='{{document.system.level}}'
      />
    </label>
  </div>
</header>