<section
  class='tab {{tabs.inventory.cssClass}} character-sheet-inventory'
  data-group='primary'
  data-tab='inventory'
>
  <div class='flexcol gap-2'>
    <label>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Label'}}
    </label>
    {{#each weapons as |weapon index|}}
      <div class='card flexcol gap-2 character-weapon'>
        <div class='flexrow gap-2'>
          <label>
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Name'}}
            <input
              class='character-weapon-name'
              type='text'
              name='{{concat "system.weapons." index ".name"}}'
              value='{{weapon.name}}'
            />
          </label>
          <label>
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Trait'}}
            <input
              class='character-weapon-name'
              type='text'
              name='{{concat "system.weapons." index ".trait"}}'
              value='{{weapon.name}}'
            />
          </label>
          <label>
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Range'}}
            <input
              class='character-weapon-range'
              type='text'
              name='{{concat "system.weapons." index ".range"}}'
              value='{{weapon.range}}'
            />
          </label>
          <label>
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.DamageDice'}}
            <input
              class='character-weapon-damage-dice'
              type='text'
              name='{{concat "system.weapons." index ".damageDice"}}'
              value='{{weapon.damageDice}}'
            />
          </label>
          <button
            type='button'
            class='remove-weapon-button'
            data-action='removeWeapon'
            data-index='{{index}}'
            data-weapontip='{{localize
              "SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Remove"
            }}'
            data-weapontip-direction='UP'
          ><a class='fas fa-x'></a></button>
        </div>
        {{formInput
          weapon.descriptionField
          name=weapon.descriptionName
          value=weapon.description
        }}
      </div>
    {{/each}}
    <button type='button' data-action='addWeapon'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Weapons.Add'}}
    </button>
  </div>
</section>