<section
  class='tab {{tabs.cards.cssClass}} character-sheet-cards'
  data-group='primary'
  data-tab='cards'
>
  <div class='flexcol gap-3 character-cards-scroll-container'>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Loadout'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.loadout as |card index|}}
          <div class='character-card-spot' data-index='{{index}}'>
            {{#if card}}
              <div>{{card.name}}</div>
              <p>
                Level
                {{card.level}}
                {{card.domain}}
                {{card.type}}
              </p>
              <p>
                {{card.description}}
              </p>
              <div>
                {{card.recallCost}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </section>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Vault'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.vault}}
          <div class='character-card-spot'></div>
        {{/each}}
      </div>
    </section>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Removed'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.removed}}
          <div class='character-card-spot'></div>
        {{/each}}
      </div>
    </section>
  </div>
</section>