<section
  class='tab {{tabs.cards.cssClass}} character-sheet-cards'
  data-group='primary'
  data-tab='cards'
>
  <div class='flexcol gap-3 character-cards-scroll-container'>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Loadout'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.loadout as |card index|}}
          <div
            class='{{ifThen card "character-card" "character-card-spot"}}'
            data-card-type='loadout'
            data-card-index='{{index}}'
          >
            {{#if card}}
              <div class='flexrow card-title'>{{card.name}}
                <button
                  type='button'
                  data-action='deleteCard'
                  data-index='{{index}}'
                  data-tooltip='{{localize
                    "SIMPLE_DAGGERHEART.CharacterSheet.Cards.Delete"
                  }}'
                  data-tooltip-direction='UP'
                ><span class='fas fa-x'></span></button>
              </div>
              <div class='card-subtitle'>
                Level
                {{card.system.level}}
                {{card.system.domain}}
                {{card.system.type}}
              </div>
              <div class='card-recall-cost'>
                Recall:
                {{card.system.recallCost}}
                Stress
              </div>
              <div class='card-description'>
                {{{card.system.description}}}
              </div>
              <div class='flexrow gap-1 card-buttons'>
                <button
                  type='button'
                  data-action='moveCardToVault'
                  data-index='{{index}}'
                  data-tooltip='{{localize
                    "SIMPLE_DAGGERHEART.CharacterSheet.Cards.MoveToVault"
                  }}'
                ><span class='fas fa-down'></span></button>
                <button
                  type='button'
                  data-action='moveCardToRemoved'
                  data-index='{{index}}'
                  data-tooltip='{{localize
                    "SIMPLE_DAGGERHEART.CharacterSheet.Cards.MoveToRemoved"
                  }}'
                ><span class='fas fa-skull'></span></button>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </section>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Vault'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.vault}}
          <div class='character-card-spot'></div>
        {{/each}}
      </div>
    </section>
    <section class='section'>
      <label>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Cards.Removed'}}
      </label>
      <div class='character-cards-grid'>
        {{#each cards.removed}}
          <div class='character-card-spot'></div>
        {{/each}}
      </div>
    </section>
  </div>
</section>