<fieldset
  class='flexcol gap-3 character-sheet-statuses character-sheet-section'
>
  <div class='flexrow gap-3 character-statuses-row'>
    <div class='flexcol character-status card'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.hp'
          value='{{document.system.hp}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.maxHp'
          value='{{document.system.maxHp}}'
        />
      </div>
    </div>

    <div class='flexcol character-status card'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Hope'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.hope'
          value='{{document.system.hope}}'
        />
        <span class='divider'>/</span>
        <span class='large-text-container'>6</span>
      </div>
    </div>
  </div>

  <div class='flexrow gap-3 character-statuses-row'>
    <div class='flexcol character-status card'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Stress'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.stress'
          value='{{document.system.stress}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.maxStress'
          value='{{document.system.maxStress}}'
        />
      </div>
    </div>

    <div class='flexcol character-status card'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Armor'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.currentScore'
          value='{{document.system.armor.currentScore}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.maxScore'
          value='{{document.armor.maxScore}}'
        />
      </div>
    </div>
  </div>

  <div class='flexrow gap-3 character-status-row'>
    <label class='character-status large-input-field-label card'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Evasion'}}
      <input
        class='large-input-field'
        type='number'
        name='system.evasion'
        value='{{document.system.evasion}}'
      />
    </label>

    <div class='flexcol character-status card'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.ArmorThresholds'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <button class='damage-button'>-1 HP</button>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.minorThreshold'
          value='{{document.system.armor.minorThreshold}}'
        />
        <button class='damage-button'>-2 HP</button>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.majorThreshold'
          value='{{document.system.armor.majorThreshold}}'
        />
        <button class='damage-button'>-3 HP</button>
      </div>
    </div>
  </div>
</fieldset>