<div class='flexrow gap-2 character-sheet-statuses'>
  <div class='flexcol character-status'>
    <div class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
    </div>
    <div>
      <input
        class='large-input-field'
        type='number'
        name='system.hp'
        value='{{document.system.hp}}'
      />
      <span class='divider'>/</span>
      <input
        class='large-input-field'
        type='number'
        name='system.maxHp'
        value='{{document.system.maxHp}}'
      />
    </div>
  </div>

  <div class='flexcol character-status'>
    <div class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Stress'}}
    </div>
    <div>
      <input
        class='large-input-field'
        type='number'
        name='system.stress'
        value='{{document.system.stress}}'
      />
      <span class='divider'>/</span>
      <input
        class='large-input-field'
        type='number'
        name='system.maxStress'
        value='{{document.system.maxStress}}'
      />
    </div>
  </div>

  <div class='flexcol character-status'>
    <div class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Hope'}}
    </div>
    <div>
      <input
        class='large-input-field'
        type='number'
        name='system.hope'
        value='{{document.system.hope}}'
      />
      <span class='divider'>/</span>
      <span class='large-text-container'>6</span>
    </div>
  </div>
</div>