<div class='flexcol gap-2 character-sheet-statuses'>
  <div class='flexrow'>
    <span class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
    </span>
    <input type='number' name='system.hp' value='{{document.system.hp}}' />
    /
    <input type='number' name='system.hp' value='{{document.system.maxHp}}' />
  </div>

  <div class='flexrow'>
    <span class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Stress'}}
    </span>
    <input
      type='number'
      name='system.stress'
      value='{{document.system.stress}}'
    />
    /
    <input
      type='number'
      name='system.maxStress'
      value='{{document.system.maxStress}}'
    />
  </div>

  <div class='flexrow'>
    <span class='character-status-label'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Hope'}}
    </span>
    <input type='number' name='system.hope' value='{{document.system.hope}}' />
    / 6
  </div>
</div>