<div class='flexrow gap-2'>
  {{#each this.traits as |trait|}}

    <div class='flexcol'>
      <span>
        {{localize trait.label}}

        <input
          type='checkbox'
          name='{{concat trait.baseName ".marked"}}'
          {{checked trait.marked}}
        />
      </span>

      <input
        type='number'
        name='{{concat trait.baseName ".value"}}'
        value='{{trait.value}}'
      />

      <ul>
        {{#each trait.examples as |example|}}
          <li>{{localize example}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>