<fieldset class='flexrow gap-3 character-sheet-traits'>
  {{#each this.traits as |trait|}}
    <div class='flexcol gap-1 character-stat card'>
      <span>{{localize trait.label}}</span>

      <div class='flexrow character-stat-content'>
        <input
          class='character-stat-value'
          type='number'
          name='{{concat trait.baseName ".value"}}'
          value='{{trait.value}}'
        />
        <input
          class='character-stat-checked'
          type='checkbox'
          name='{{concat trait.baseName ".marked"}}'
          {{checked trait.marked}}
        />
      </div>

      <ul>
        {{#each trait.examples as |example|}}
          <li>{{localize example}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</fieldset>