<section
  class='flexcol gap-2 character-sheet-experiences character-sheet-section'
>
  <label class='character-experiences-header'>{{localize
      'SIMPLE_DAGGERHEART.CharacterSheet.Experience'
    }}</label>
  {{#each this.experiences as |experience|}}
    <div class='flexrow gap-2 character-experience'>
      <input
        type='text'
        name='{{concat "system.experiences." experience.index ".name"}}'
        value='{{experience.name}}'
      />
      <input
        class='character-experience-bonus'
        type='number'
        name='{{concat "system.experiences." experience.index ".bonus"}}'
        value='{{experience.bonus}}'
      />
    </div>
  {{/each}}
</section>