<section
  class='tab {{tabs.notes.cssClass}} character-sheet-notes'
  data-group='primary'
  data-tab='notes'
>
  <div class='flexrow gap-3 align-stretch'>
    <div class='flexcol gap-3'>
      <label class='section flexcol large-prose-mirror-container'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Biography'}}
        {{formInput biography.field name=biography.name value=biography.value}}
      </label>
      <label class='section flexcol large-prose-mirror-container'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Connections'}}
        {{formInput
          connections.field
          name=connections.name
          value=connections.value
        }}
      </label>
    </div>
    <label class='section flexcol large-prose-mirror-container'>
      {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Journal.Label'}}
      {{formInput journal.field name=journal.name value=journal.value}}
    </label>
  </div>
</section>