<section class='flexcol gap-3 character-sheet-statuses'>
  <div class='flexrow gap-3 character-statuses-row'>
    <div class='flexcol character-status section'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.hp'
          value='{{document.system.hp}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.maxHp'
          value='{{document.system.maxHp}}'
        />
      </div>
    </div>

    <div class='flexcol character-status section'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Hope'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.hope'
          value='{{document.system.hope}}'
        />
        <span class='divider'>/</span>
        <span class='large-text-container'>6</span>
      </div>
    </div>

    <div class='flexcol character-status section'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Stress'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.stress'
          value='{{document.system.stress}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.maxStress'
          value='{{document.system.maxStress}}'
        />
      </div>
    </div>
  </div>

  <div class='flexrow gap-3 character-statuses-row'>
    <div class='flexcol character-status section'>
      <label class='large-input-field-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Evasion'}}
        <input
          class='large-input-field'
          type='number'
          name='system.evasion'
          value='{{document.system.evasion}}'
        />
      </label>
    </div>

    <div class='flexcol character-status section'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Armor.Label'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.currentScore'
          value='{{document.system.armor.currentScore}}'
        />
        <span class='divider'>/</span>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.maxScore'
          value='{{document.system.armor.maxScore}}'
        />
      </div>
    </div>

    <div class='flexcol character-status section'>
      <label class='character-status-label'>
        {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.Armor.Thresholds'}}
      </label>
      <div class='flexrow gap-2 character-status-inputs'>
        <button
          type='button'
          class='damage-button'
          data-action='modifyHP'
          data-amount='-1'
        >
          <span>
            -1
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
          </span>
        </button>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.minorThreshold'
          value='{{document.system.armor.minorThreshold}}'
        />
        <button
          type='button'
          class='damage-button'
          data-action='modifyHP'
          data-amount='-2'
        >
          <span>
            -2
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
          </span>
        </button>
        <input
          class='large-input-field'
          type='number'
          name='system.armor.majorThreshold'
          value='{{document.system.armor.majorThreshold}}'
        />
        <button
          type='button'
          class='damage-button'
          data-action='modifyHP'
          data-amount='-3'
        >
          <span>
            -3
            {{localize 'SIMPLE_DAGGERHEART.CharacterSheet.HP'}}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>