<section class='flexrow gap-3 character-sheet-traits'>
  {{#each this.traits as |trait|}}
    <div class='flexcol gap-1 character-trait section'>
      <span>{{localize trait.label}}</span>

      <div class='flexrow character-trait-content'>
        <input
          class='character-trait-value'
          type='number'
          name='{{concat trait.baseName ".value"}}'
          value='{{trait.value}}'
        />
        <input
          class='character-trait-checkbox'
          type='checkbox'
          name='{{concat trait.baseName ".marked"}}'
          {{checked trait.marked}}
        />
      </div>

      <ul>
        {{#each trait.examples as |example|}}
          <li>{{localize example}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</section>